<div class="jumbotron">
  <div class="container">
    <div class="compareinput">
        <form class='form'>Please type in your job title:
            <input ng-model='input' type="text" id="usertitle">
            Current Salary (required):  <input ng-model='inputtwo' type="text" id="usersalary">
            <button type="submit" ng-click='fetchone(input, inputtwo)'>Submit</button>
        </form>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <span id="photo" class="col-md-5" ng-show=" yoursalary &&  yoursalary<average">
       <img src="./image/Under.jpg">
      </span>
      <span id="photo2" class="col-md-5" ng-show=" yoursalary &&  yoursalary>average && yoursalary<max">
       <img src="./image/Average.jpg">
      </span>
      <span id="photo3" class="col-md-5" ng-show=" yoursalary && yoursalary>average && yoursalary>max">
       <img src="./image/Over.jpg">
      </span>

      <h1>Are you underpaid?</h1>

      <h3 ng-show="valid==1">Sorry no results found, please try another title!<span ng-show="yoursalary==1">!</span></h3>

      <h3 ng-show="yoursalary">You are a {{ yourtitle }}<span ng-show="yourtitle">!</span></h3>
      <h4 ng-show="yoursalary">Your currently make: ${{ yoursalary }}</h4><br>

      <h2 ng-show=" yoursalary &&  yoursalary<average" >OMG, YOU ARE UNDER PAID!<br>
      <a href="/#/jobsearch">Click HERE</a> to loook for NEW JOB</h2>

      <h2 ng-show=" yoursalary &&  yoursalary>average && yoursalary<max" >You are above average!</h2>
      <h2 ng-show=" yoursalary && yoursalary>average && yoursalary>max" >You are making more than most people!</h2></br>


        <div id="test" ng-show="yoursalary">
          
            
              <strong>The Average Salary for the same position is: ${{ average }} <br><br>
              The highest pay is {{ data.SalaryMax }} <br><br>
              The lowest pay is {{ data.SalaryMin }} <br><br></strong>
            
          
        </div>
    </div> 





</div>

