<div class="jumbotron">
  <div class="container">
    <div class="userinput">
        <form class='form'>Please type in a job title:
            <input ng-model='input' type="text" id="maininput">
              &nbsp;&nbsp;Location: (Optional)  <input ng-model='input2' type="text" id="maininput">
            <button type="submit" ng-click='fetch(input, input2)'>Submit</button>
        </form>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">


    <div class="col-md-8">
      <h1>Job Listings</h1>

        <h3 ng-show="found==1">Sorry no results found, please try another job title/location!<span ng-show="yoursalary==1">!</span></h3>

          <ul>
            <li class="job" ng-repeat="data in datas | orderBy:'-howmuch'">
            <strong>Job Title: </strong>{{ data.JobTitle }}<br>
            <strong>Location:</strong> {{ data.Locations }}<br>
            <strong>Salary Basis: </strong>{{ data.SalaryBasis }}<br>
            <strong>Highest Salary: </strong>{{ data.SalaryMax }}<br> 
            <strong>Lowest Salary: </strong>{{ data.SalaryMin }}<br>
            <strong>Apply Online: </strong><a target="_blank" href="{{ data.ApplyOnlineURL }}">Click Here</a><br><br>
            </li>
          </ul>

    </div>
  </div>
</div>